{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set hasMatches = collector.watchdogs|filter(v => v.hasMatches)|length %}
    {% set matchCount = collector.matchingWatchdogsCount %}

    {% set icon %}
        {{ include('@Watchdog/Collector/icon.svg') }}
        {% if matchCount %}
            <span class="sf-toolbar-value">{{ matchCount }}</span>
        {% endif %}
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        {% for watchdogId, watchdog in collector.watchdogs %}
            <div class="sf-toolbar-info-piece">
                {% for matchingUnit in watchdog.matchingUnits %}
                    <div class="sf-toolbar-info-piece">
                        {% if 'compound' != matchingUnit.type %}
                            <b>{{ matchingUnit.type|title }}</b>
                            <span class="sf-toolbar-status">{{ matchingUnit.originalConfig }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        {% if 0 == matchCount %}
            There's nothing to bark at
        {% endif %}
    {% endset %}

    {% if collector.watchdogs %}
        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', {
            link: profiler_url,
            status: matchCount  ? 'green'
        }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    {# This left-hand menu appears when using the full-screen profiler. #}
    <span class="label{{ 0 == collector.watchdogs|filter(v => v.hasMatches)|length ? ' disabled' }}">
        <span class="icon">
             {{ include('@Watchdog/Collector/icon.svg') }} <span class="hidden-small"></span>
        </span>
        <strong>Watchdog</strong>
    </span>
{% endblock %}

{% block panel %}
    {# Optional, for showing the most details. #}
    <h2>Watchdog</h2>
    {% for watchdogId, watchdog in collector.watchdogs|filter(v => v.hasUnits) %}
        <b>{{ watchdogId|title }}</b>
        <table>
            <tbody>
            {% for unit in watchdog.units %}
                <tr>
                    <td>{{ unit.type }}</td>
                    <td>{{ unit.originalConfig }}</td>
                    <td>{{ 'compound' != unit.type ? unit }}</td>
                    <td>{{ unit.isMatching }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty">
            <p>Nothing was configured ...</p>
        </div>
    {% endfor %}
{% endblock %}
